<div class="water-background">
    <div class="sec-2">
        <div class="g-wave">
            <img src="img/asd1.png" alt="">
        </div>
        <div class="b-wave">
            <img src="img/asd.png" alt="">
        </div>
        <div class="row-flex">
            <div class="col-flex left arc-text">
                <div class="badge1">
                    <h1 class="">
                        <span class="char1">C</span>
                        <span class="char2">L</span>
                        <span class="char3">I</span>
                        <span class="char4">E</span>
                        <span class="char5">N</span>
                        <span class="char6">T</span>
                        <span class="char7">S</span>
                    </h1>
                </div>
                <div class="semi-circle-left">
                    <!--<div class="green-water center-position">
                        <ul class="list-unstyled text-right">
                            <li><img src="img/image.png" alt=""></li>
                            <li><img src="img/image.png" alt=""></li>
                            <li><img src="img/image.png" alt=""></li>
                            <li><img src="img/image.png" alt=""></li>
                            <li><img src="img/image.png" alt=""></li>
                        </ul>
                    </div>-->
                </div>
            </div>
            <div class="col-flex right arc-text-right">
                <div class="badge1">
                    <h1 class="portfolio">
                        <span class="char1">P</span>
                        <span class="char2">O</span>
                        <span class="char3">R</span>
                        <span class="char4">T</span>
                        <span class="char5">F</span>
                        <span class="char6">O</span>
                        <span class="char7">L</span>
                        <span class="char8">I</span>
                        <span class="char9">O</span>
                    </h1>
                </div>
                <div class="semi-circle-right blue">
                    <div class="blue-water ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>