<!--<div class="home-logo hidden-xs">
  <div class="logo">
    <img class="img-responsive" src="img/logo/logo.png" alt="" />
  </div>
</div>-->
<div class="home-logo">
  <div class="sec-1">
    <div class="company-logo">
      <img class="img-responsive w-logo" src="img/logo/w-logo.png" alt="" />
      <div class="text-center">
        <p class="quotes">"When a team outgrows individual performance and learns teams confidence <br><span>excellence becomes reality.<span>"</p>
        <p class="text-right author">- Joe Paterno</p>
      </div>
    </div>
    <div class="green1">
      <img src="img/GREEN123.png" alt="" class="img-responsive">
    </div>
     <div class="green2">
      <img src="img/BLUE123.png" alt="" class="img-responsive">
    </div>
  </div>
</div>