<div class="container">
    <div class="clearfix">
  <div class="pull-left">
      <div class="row-flex">
          <div class="col-flex">
<div class="about-detail">
<p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet veritatis quas labore accusamus totam quidem placeat necessitatibus tempora ipsum provident eveniet, harum vero perspiciatis esse deleniti aspernatur at, atque debitis.</p>

<p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate soluta, et quasi. Laudantium illum, impedit eveniet voluptate quia, totam vel porro at velit dolores repellat facilis, alias maxime ipsum non.</p>

<div class="mission-vission">
<h3 class="pull-right text-uppercase">mission</h3>
<div class="clearfix"></div>
<p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, veritatis!</p>
</div>
<div class="mission-vission">
<h3 class="pull-right text-uppercase">vission</h3>
<div class="clearfix"></div>
<p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, veritatis!</p>
</div>
</div>
          </div>
      </div>

    </div>
    <div class="pull-right">
        <!--<div class="row-flex">
            <div class="col-flex">-->
<div class="client-experience">
<flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}">
        </li>
   </flex-slider>
</div>
            <!--</div>
        </div>-->

    </div>
    </div>
  
</div>