<div class="sec-3">
    <div class="row-flex">
        <div class="col col-flex left arc-text">
            <div class="badge1">
                <h1 class="arc about-us">
                    <span class="char1">A</span>
                    <span class="char2">B</span>
                    <span class="char3">O</span>
                    <span class="char4">U</span>
                    <span class="char5">T</span>
                    <span class="char6">U</span>
                    <span class="char7">S</span>
                </h1>
            </div>
            <div class="semi-circle-left">
                <div class=" about-detail">
                    <div class="text-right">
                        <p>Hello Earthlings it's been long since we have been watching you guys. But we are here to give you
                            a service to develop ideas and products related to technology which will make you feel out of
                            the world. But before that let me tell you guys a little about us.</p>
                        <p>We are aliens from planet Wohlig. Just like earth we are round and full of people. We love computers
                            and technology and since we came to know that so do you, we decided to mingle and create some
                            amazing stuff for you. The services offered by the aliens from Wohlig include development of
                            web-based electronic businesses and social network services. With the improvement of technologies
                            in your planet and ours, we have managed to build dynamic, interactive and design oriented applications,
                            systems and websites for other earthlings as well.
                        </p>
                    </div>
                    <div class="mission">
                        <h3 class="pull-right text-uppercase">mission</h3>
                        <div class="clearfix"></div>
                        <p class="text-right">We believe to change it and with that simplify complexity in information technology in all sectors.</p>
                    </div>
                    <div class="vision">
                        <h3 class="pull-right text-uppercase">vision</h3>
                        <div class="clearfix"></div>
                        <p class="text-right">To innovate and create softwares which have the capability to change the service industry drastically.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-flex right arc-text-right">
            <div class="badge1">
                <h1 class="arc">
                    <span class="char1">T</span>
                    <span class="char2">E</span>
                    <span class="char3">A</span>
                    <span class="char4">M</span>
                </h1>
            </div>
            <div class="semi-circle-right">
                <div class=" team-detail">
                    <p>The team of Wohlig Technology has developers, designers and creative developers with immense experience
                        in the world of technology. With a portfolio budding with creative applications, websites and systems,
                        the team is able to grasp the needs of the clients and the users.
                    </p>
                    <p>The technology used by the team is cutting edge and at its best, they follow international coding standards
                        to make sure each idea is professional and unique. The design, development and integration team as
                        a whole create and develop websites and applications giving them a strategically strong and creatively
                        refreshing twist.
                    </p>
                    <div class="client-experience">
                        <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
                            <li>
                                <img ng-src="{{s.img}}">
                                <div class="designation txt-color">
                                    <p class="head1">{{s.head1}}</p>
                                    <p class="head2">{{s.head2}}</p>
                                </div>
                            </li>
                        </flex-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>