<div class="water-background">
    <div class="sec-2">
        <div class="row-flex">
            <div class="col-flex left">
                <div class="semi-circle-left">
                    <!--<div class="green-water center-position">
                        <ul class="list-unstyled text-right">
                            <li><img src="img/image.png" alt=""></li>
                            <li><img src="img/image.png" alt=""></li>
                            <li><img src="img/image.png" alt=""></li>
                            <li><img src="img/image.png" alt=""></li>
                            <li><img src="img/image.png" alt=""></li>
                        </ul>
                    </div>-->
                </div>
            </div>
            <div class="col-flex right">
                <div class="semi-circle-right blue">
                    <div class="blue-water ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>