<div class="sec-4">
    <div class="row-flex">
        <div class="col col-flex">
            <div class="semi-circle-left">
                <div class="contact-form">
                    <div class="form">
                        <p>Thank you for interest in Wohlig Technology. </p>
                        <p>Please provide the following information.</p>
                        <p>You should response within 48 hours.</p>
                        <form class="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Mobile">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea name="query" id="" rows="5" cols="52" placeholder="Query"></textarea>
                            </div>
                            <button type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-flex">
            <div class="semi-circle-right">
                <div class="contact">
                    <div class="address">
                        <h3>wohlig technologies</h3>
                        <address>
                            Address : Plot no. 3, Flat no. A/30 Laxmi Nivas <br> , 3rd Floor , Near Sadhana School , Sion
                            (W),
                            <br> Mumbai 400022.
                        </address>
                        <p>Tel:<a class="tel:+91 98200 45678 / +91 9819222221">+91 98200 45678 / +91 9819222221</a></p>
                        <p>Email: <a href="mailto:info@wohlig.com">info@wohlig.com</a></p>
                        <div class="map-image">
                            <img src="img/mapsicon.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>