@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
@import "../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css";
// @import "http://allfont.net/allfont.css?fonts=arial-black)";
@font-face {
    font-family: "Arial Black";
    src: url("../fonts/arial-black_[allfont.net].ttf");
}


/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    // padding-top: 70px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    @include transition(all ease 300ms);
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

//SWIPER CSS
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url(../img/prev.png);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/next.png);
}


/* Start writing sass here */

.content {
    min-height: 450px;
}

.full-img {
    width: 100%;
    display: block;
}

.row-flex {
    @include display(flex);
    width: 100%;
}

.col-flex {
    @include flex(1);
    display: block;
    width: 100%;
    position: relative;
}

.home-logo {
    // background-color: #02B0C2;
    // img {
    //     margin: 0 auto;
    // }
}

// .blue-water {
//     background-color: #02B0C2;
// }
.semi-circle-left {
    background: #fff;
    /*height: 88vh;
    float: right;
    width: 47vh;
    border-radius: 150px 0 0 150px;
    border-radius: 54vh 0 0 54vh;
    position: relative;*/
    height: 140vh;
    float: right;
    width: 80%;
    border-radius: 100vh 0 0 100vh;
    position: relative;
    margin-bottom: 60px;
}

.semi-circle-right {
    background: #5b5b5b;
    /*height: 88vh;
    float: left;
    width: 47vh;
    border-radius: 150px 0 0 150px;
    border-radius: 0 54vh 54vh 0;
    position: relative;*/
    height: 140vh;
    float: left;
    width: 80%;
    border-radius: 0 100vh 100vh 0;
    position: relative;
    margin-bottom: 60px;
}

.center-position {
    width: 40vh;
    height: 38vh;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

.arc-text {
    .badge1 {
        position: relative;
        // width: 400px;
        border-radius: 50%;
        transform: rotate(-57deg);
        .about-us {
            color: #F5F5F5;
            span.char6 {
                transform: rotate(33deg);
            }
            span.char7 {
                transform: rotate(39deg);
            }
        }
        .enquiry {
            color: #8eecf6;
            span.char6 {
                transform: rotate(27deg);
            }
            span.char7 {
                transform: rotate(33deg);
            }
        }
    }
    h1 {
        margin: 0;
        font-family: 'Arial Black';
        font-size: 56px;
        color: #fff;
        span {
            // font: 26px Monaco, MonoSpace;
            height: 488px;
            position: absolute;
            width: 20px;
            left: 73px;
            top: -35px;
            transform-origin: bottom center;
        }
    }
    span.char1 {
        transform: rotate(0deg);
    }
    span.char2 {
        transform: rotate(6deg);
    }
    span.char3 {
        transform: rotate(12deg);
    }
    span.char4 {
        transform: rotate(18deg);
    }
    span.char5 {
        transform: rotate(24deg);
    }
    span.char6 {
        transform: rotate(30deg);
    }
    span.char7 {
        transform: rotate(36deg);
    }
}

.arc-text-right {
    .badge1 {
        position: relative;
        // width: 400px;
        border-radius: 50%;
        transform: rotate(27deg);
        .reach {
            color: #aef365;
            span.char6 {
                transform: rotate(33deg);
            }
            span.char7 {
                transform: rotate(39deg);
            }
        }
        .portfolio {
            color: #fff;
        }
    }
    h1 {
        margin: 0;
        font-family: 'Arial Black';
        font-size: 56px;
        color: #5b5b5b;
        span {
            // font: 26px Monaco, MonoSpace;
            height: 488px;
            position: absolute;
            width: 20px;
            top: 28px;
            left: 302px;
            transform-origin: bottom center;
        }
    }
    span.char1 {
        transform: rotate(0deg);
    }
    span.char2 {
        transform: rotate(6deg);
    }
    span.char3 {
        transform: rotate(12deg);
    }
    span.char4 {
        transform: rotate(18deg);
    }
    span.char5 {
        transform: rotate(24deg);
    }
    span.char6 {
        transform: rotate(30deg);
    }
    span.char7 {
        transform: rotate(36deg);
    }
    span.char8 {
        transform: rotate(42deg);
    }
    span.char9 {
        transform: rotate(48deg);
    }
}

.one {
    height: 100vh;
    position: relative;
    // background-image: url('../img/wave13.png');
    .sec-1 {
        .company-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            .w-logo {
                width: 500px;
                margin: 0 auto;
            }
            .quotes {
                margin: 60px 0;
                font-size: 22px;
                span {
                    font-weight: 700;
                }
            }
            .author {
                font-size: 26px;
                font-weight: 700;
            }
        }
        .green1 {
            position: absolute;
            bottom: 0;
            img {
                /*height: 90vh;*/
            }
        }
        .green2 {
            position: absolute;
            bottom: 0;
            right: 0;
            img {
                /*height: 50vh;*/
            }
        }
    }
}

.two {
    .give-resp {
        width: 100%;
        height: auto;
    }
    .left {
        padding-top: 30px;
        background: #86c140;
    }
    .right {
        padding-top: 30px;
        background: #03b0c1;
    }
    .g-wave {
        // position: absolute;
        // top: 0;
        // left: 0;
        // z-index: 99;
        display: inline-block;
        width: 50%;
    }
    .b-wave {
        // position: absolute;
        // top: 0;
        // right: 0;
        // z-index: 99;
        display: inline-block;
        width: 50%;
        margin-left: -4px;
    }
    .sec-2 {
        .semi-circle-right1.blue {
            background: #fff;
        }
        .semi-circle-right1 {
            height: 140vh;
            float: left;
            width: 80%;
            border-radius: 0 100vh 100vh 0;
            position: relative;
            margin-bottom: 60px;
        }
        .semi-circle-left1 {
            background: #fff;
            height: 140vh;
            float: right;
            width: 80%;
            border-radius: 100vh 0 0 100vh;
            position: relative;
            margin-bottom: 60px;
        }
        .client-images {
            position: absolute;
            right: 30px;
            top: 10%;
        }
        .col-one {
            display: inline-block;
            vertical-align: top;
            margin-top: 38%;
            margin-right: -10px;
            .img-holder {
                margin-bottom: 0;
            }
        }
        .col-two {
            display: inline-block;
            vertical-align: top;
            margin-top: 19%;
            margin-right: -10px;
        }
        .col-three {
            display: inline-block;
        }
        .img-holder {
            border-radius: 50%;
            border: 1px solid #93d742;
            padding: 5px;
            margin-bottom: 10px;
        }
        .right-mar {
            margin-right: 35px;
        }
        .left-mar {
            margin-left: 35px;
        }
    }
}

.three {
    .left {
        background: #8c8c8c;
        padding: 60px 0;
    }
    .right {
        background: #dedcdd;
        padding: 60px 0;
    }
    .sec-3 {
        .semi-circle-left {
            background-color: #F5F5F5;
        }
        .about-detail {
            padding-top: 35%;
            padding-left: 30%;
            padding-right: 10%;
            font-weight: bold;
            .mission {
                h3,
                p {
                    color: #82aa47;
                }
            }
            .vision {
                h3,
                p {
                    color: #0aacbb;
                }
            }
        }
        .team-detail {
            padding-top: 35%;
            padding-left: 10%;
            padding-right: 30%;
            font-weight: bold;
            color: #fff;
        }
        .client-experience {
            margin: 30px 0 0;
            .flexslider-container {
                .flexslider {
                    border: none;
                    margin: 0 0 60px;
                    background: transparent;
                    position: relative;
                    zoom: 1;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    .slides {
                        img {
                            height: auto;
                            border: 2px solid #fff;
                            border-radius: 50%;
                            width: 130px;
                        }
                        .designation {
                            p {
                                text-transform: uppercase;
                                font-weight: 700;
                            }
                            .head1 {
                                margin: 20px 5px 0;
                            }
                            .head2 {
                                margin: 5px 5px 0;
                            }
                        }
                    }
                    .flex-control-paging li a.flex-active {
                        background-color: #fff;
                    }
                    .flex-control-paging li a {
                        background: #0aacbb;
                    }
                }
                .flex-direction-nav {
                    display: none;
                }
                .flex-control-nav {
                    text-align: left;
                    bottom: -35px;
                }
            }
        }
    }
}

.four {
    .sec-4 {
        .left {
            background: #03b0c1;
            padding: 60px 0;
        }
        .right {
            background: #86c140;
            padding: 60px 0;
        }
        .semi-circle-left {
            background: #8eecf6;
        }
        .semi-circle-right {
            background: #aef365;
        }
        .enquiry-detail {
            padding-top: 60%;
            padding-left: 30%;
            padding-right: 10%;
            .thanks-note {
                p {
                    margin: 0;
                }
                font-weight: 700;
                color: #757575;
                text-align: right;
                margin-bottom: 55px;
            }
        }
        .form {
            padding-left: 50px;
            .form-control {
                border-radius: 5px;
            }
            .form-group {
                textarea {
                    resize: none;
                }
            }
            .btn-submit {
                background: #757575;
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .reach-us-detail {
            padding-top: 60%;
            padding-left: 10%;
            font-weight: 700;
            color: #fff;
            h3 {
                font-weight: 700;
                margin-top: 0;
            }
            .address {
                margin: 0 0 10px;
                p {
                    margin: 0;
                }
            }
            .map-image {
                width: 200px;
            }
            .mail {
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

@import "fancybox-override";
@import "mobile";